<launch>
	<node name="point_cloud_assembler" pkg="point_cloud_assembler" type="point_cloud_assembler_node" output="screen">
		<param name="input_topic" value="/robot_rx60b/carmine_pose" />
		<param name="output_topic" value="assembled_point_cloud" />
		
		<!-- Cut-Off filter parameters -->
		<param name="cutoff/x_min" value="-0.2" />		<!--	[m]		-->
		<param name="cutoff/x_max" value="0.2" />		<!--	[m]		-->
		<param name="cutoff/y_min" value="-0.2" />		<!--	[m]		-->
		<param name="cutoff/y_max" value="0.2" />		<!--	[m]		-->
		<param name="cutoff/z_min" value="0.5" />		<!--	[m]		-->
		<param name="cutoff/z_max" value="1.0" />		<!--	[m]		-->
	</node>
</launch>