<launch>
  <include file="$(find rx60b_bringup)/launch/online_tf.launch" />

 <node pkg="rx60b_hardware" type="rx60b_hardware" name="rx60b_hardware_interface" output="screen" /> 

  <rosparam ns="orbit">
    joint_state_controller_orbit:
      type: joint_state_controller/JointStateController
      #type: joint_state_controller/rx60b_hardware
      joint_mode: 1 #position
      publish_rate: 50
      joints:
        - a1
        - a2
        - a3
        - a4
        - a5
        - a6

   </rosparam>
  <node name="joint_state_controller" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller_orbit" /> 


</launch>
